<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
	<head th:replace="fragment/includes :: heads">
	</head>
	
	<body>
		<div id="header" th:fragment="header">
			<nav class="row justify-content-between navbar navbar-area navbar-expand bg-white fixed-top">
				<div class="col-lg-3 col-md-4 text-left" style="width: auto;">
					<span class="navbar-brand on-md m-hover"><img th:src="@{/img/button_top_nav_menu.png}"></span>
					<a th:href="@{/}" class="top-logo m-hover"><img th:src="@{/img/img_logo_with_title.png}"></a>
				</div>
				<div class="col-lg-6 on-lg">
					<form class="form-inline justify-content-center">
						<div class="input-group navbar-search">
							<input type="text" class="form-control" placeholder="검색" aria-describedby="search">
							<div class="input-group-prepend">
								<a>
									<span class="input-group-text navbar-search-btn justify-content-center" id="search">
										<img th:src="@{/img/button_search.png}">
									</span>
								</a>
							</div>
						</div>
					</form>
				</div>
				<div class="col-lg-3 col-md-8 text-right align-baseline" style="width: auto;">
					<a th:href="@{/channel}" class="top-menu"><img th:src="@{/img/button_top_menu_renderer.png}"></a>
					<span class="top-menu off-lg m-hover"><img th:src="@{/img/button_search_dark.png}"></span>
					<a th:href="@{/login}" class="btn-login" sec:authorize="isAnonymous()">
						<img th:src="@{/img/button_inner_profile.png}">
						<span>로그인</span>
					</a>
					<span id="my_menu_dropdown" class="top-menu m-hover" data-toggle="dropdown" 
						aria-haspopup="true" aria-expanded="false" sec:authorize="isAuthenticated()">
						<img th:src="@{/img/button_profile_dark.png}">
					</span>
					<div class="dropdown-menu" aria-labelledby="my_menu_dropdown" sec:authorize="isAuthenticated()">
					    <div class="row dropdown-item-text">
					    	<div class="px-3">
				    			<div class="pb-2">
				    				<div class="font-14" sec:authentication="principal.display_name"></div>
				    				<div class="font-14" sec:authentication="name"></div>
				    			</div>
				    			<div>
				    				<span class="text-primary font-14 m-hover">계정 관리</span>
			    				</div>
					    	</div>
					    </div>
  						<div class="dropdown-divider"></div>
				    	<a th:href="@{/channel}" class="dropdown-item py-2">
					    	<img th:src="@{/img/button_profile_dark.png}">
				    		<span class="font-14 px-2">내 채널</span>
				    	</a>
					    <span class="dropdown-item m-hover py-2" th:href="@{/logout}">
					    	<img th:src="@{/img/button_logout.png}">
				    		<span class="font-14 px-2">로그아웃</span>
				    	</span>
				    </div>
				</div>
			</nav>
		</div>
	</body>
</html>