<!-- <!DOCTYPE html> -->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
	<head th:fragment="heads">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
		<meta http-equiv="Expires" content="-1" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Cache-Control" content="No-Cache" />
		<meta name="viewport" content="width=device-width">
		<meta charset="utf-8">
		
		<!--icon -->
		<link rel="shortcut icon" th:href="@{/img/logo_metube.ico}"/>
		
		<!-- jquery ui -->
		<link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}">
		
		<!-- bootstrap ui -->
		<link rel="stylesheet" th:href="@{/css/bootstrap-4.1.3-dist/bootstrap.min.css}">
		
		<!-- FilePond ui -->
		<link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
		<link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">
				
		<!-- nav ui -->
		<link rel="stylesheet" th:href="@{/css/nav-ui.css}">
		
		
		<!-- jquery -->
		<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
		<script th:src="@{/js/jquery-ui.min.js}"></script>
		<script th:src="@{/js/handlebars-v4.0.11.js}"></script>
		
		<!-- popper.js -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
		
		<!-- bootstrap js -->
		<script th:src="@{/js/bootstrap-4.1.3-dist/bootstrap.min.js}"></script>
		
		<!-- include FilePond library -->
		<script src="https://unpkg.com/filepond/dist/filepond.min.js"></script>
		<script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
		<script src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
		<script src="https://unpkg.com/filepond-plugin-image-transform/dist/filepond-plugin-image-transform.js"></script>
		<script src="https://unpkg.com/filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.js"></script>
		<script src="https://unpkg.com/filepond-plugin-file-validate-size/dist/filepond-plugin-file-validate-size.js"></script>

		<!-- handlebars helper -->
		<script th:src="@{/utils/helper.js}"></script>
		
		
		