<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
<head>
	<meta name="viewport" content="width=device-width">
	
	<link rel="shortcut icon" th:href="@{/img/logo_metube.ico}"/>
	
	<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
	<link th:href="@{/css/account-ui.css}" rel="stylesheet" >
</head>

<script th:inline="javascript">
	var login_url = /*[[@{/login/processing}]]*/;
	
	function chk_id() {
		var id = $("#username").val();
		
		$("#msg_for_username").addClass("hidden");
		if(id.length == 0) {
			$("#msg_for_username").removeClass("hidden");
			return false;
		}
		
		return true;
	}
	
	function chk_password() {
		var pwd = $("#password").val();
		
		$("#msg_for_password").addClass("hidden");
		if(pwd.length == 0) {
			$("#msg_for_password").removeClass("hidden");
			return false;
		}
		
		return true;
	}
	
	function login() {
		var valid = true;
		
		valid = chk_id();
		if(valid) {
			valid = chk_password();
		}
		
		if(valid) {
			$("#loginform").attr("action", login_url);
			$("#loginform").attr("method", "POST");
			$("#loginform").submit();
		}
	}
	
	$(function() {
		$("#login_submit").click(login);
	});
</script>

<body>
	<div class="login">
		<div class="container">
			<div id="login" class="box">
				<div class="initView">
					<div class="progressbar"></div>

					<div class="icon">
						<div class="align-center">
							<span class="logo"><img th:src="@{/img/img_logo.png}"></span>
						</div>
					</div>

					<div class="title align-center">
						<h1>로그인</h1>
						<div class="comment">
							<span><a th:href="@{/}">메인으로 이동</a></span>
						</div>
					</div>

					<form id="loginform" class="form">
						<div class="input_group">
							<input id="username" name="username" type="text" required />
							<label for="username">아이디</label>
							<div class="msg">
								<div id="msg_for_username" class="alert hidden">
									<span>!</span> <span>아이디를 입력하세요.</span>
								</div>
							</div>
						</div>
						<div class="input_group">
							<input id="password" name="password" type="password" required />
							<label for="password">비밀번호</label>
							<div class="msg">
								<div id="msg_for_password" class="alert hidden">
									<span>!</span> <span>비밀번호를 입력하세요.</span>
								</div>
							</div>
						</div>
						<div class="msg">
							<div class="alert hidden">
								<span th:test="${errMsg}"><th th:text="${errMsg}"></th></span>
							</div>
						</div>
						<div class="forget">
							<span><a href="#">아이디를 잊으셨나요?</a></span>
						</div>
					</form>
					<div class="button_group">
						<div>
							<a th:href="@{/signup}">계정 만들기</a>
						</div>
						<div>
							<button id="login_submit" class="btn_commit">다음</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>