<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	
<head th:replace="fragment/includes :: heads"></head>

<link rel="stylesheet" th:href="@{/css/contents-ui.css}">

<body>
	<div th:replace="fragment/header :: header"></div>
	
	<div class="top-offset bg-white-gray vh-top">
		<div id="list_div" class="d-flex row m-0">
		</div>
		
		<div class="align-items-center pt-3">
			<nav aria-label="Page navigation">
				<ul id="pagination" class="pagination"></ul>
			</nav>
		</div>
		<input type="hidden" name="currentIndex" value="1"/>
	</div>
</body>


<script id="contentsList_template" type="text/x-handlebars-template">
	{{#resultList}}
	<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 card py-3 media-area">
		<a class="align-center" th:href="@{/contents/{{id}}/detail}">
			<img class="thumbnail-img w-100" th:src="@{/contents/{{id}}/thumbnail}">
			<div class="card-body">
				<div class="media">
					{{#ifeq reg_user_thumbnail_yn "N"}}
					<span class="text-center align-items-center rounded-circle bg-success font-weight-bold text-white mr-3" style="width: 36px; height: 36px;">
						{{#firstChar display_name}}{{/firstChar}}
				 	</span>
					{{/ifeq}}
					{{#ifneq reg_user_thumbnail_yn "N"}}
					<span>
						<img th:src="@{/profile/thumbnail/{{user_id}}}" class="align-self-center rounded-circle mr-3" style="width: 36px; height: 36px;">
					</span>
					{{/ifneq}}
					<div class="media-body">
						<span class="font-weight-bold mt-0">
							{{name}}
						</span>
						<div class="f-14 f-gray">
							<div>{{display_name}}</div>
							<div>조회수 30만. {{reg_date}}</div>
						</div>
					</div>
				</div>
			</div>
		</a>
	</div>
	{{/resultList}}
</script>

<script id="contentsPagination_template" type="text/x-handlebars-template">
	<li class="page-item">
		<span onclick="paging(1);" class="page-link m-hover" aria-label="Previous">
			<span aria-hidden="true">&laquo;</span>
		</span>
	</li>
	{{#pagination currentIndex totalPages 8}}
		{{#each pages}}
		<li onclick="paging({{page}});" class="page-item m-hover {{#if current}}active{{/if}}"><span class="page-link" >{{page}}</span></li>
		{{/each}}
	{{/pagination}}
	<li class="page-item">
		<span onclick="paging({{totalPages}});" class="page-link m-hover" aria-label="Next">
			<span aria-hidden="true">&raquo;</span>
		</span>
	</li>
</script>

<script th:inline="javascript">
/*<![CDATA[*/
	var contentsListUrl = /*[[@{/contents/list}]]*/;
	
	function paging(index) {
		$("input[name=currentIndex]")[0].value = index;
		getContents();
	}
	
	function getContents() {
		var keyword = $("input[name=keyword]").val();
		
		$.ajax({
			url: contentsListUrl,
			type: "POST",
			data: {
				currentIndex: $("input[name=currentIndex]").val(),
				keyword: keyword
			},
			success: function(response) {
				console.log(response);
				if(response != null && response.result) {
					var source = $("#contentsList_template").html();
					var template = Handlebars.compile(source);
					var itemList = template(response.data);
					$('#list_div').html(itemList);
					
					var pagingSource = $("#contentsPagination_template").html();
					var pagingTemplate = Handlebars.compile(pagingSource);
					var pagingList = pagingTemplate(response.data.pagination);
					$('#pagination').html(pagingList);
				} else {
					alert(response.msg);
					$('#list_div').html("<div class='align-center'>콘텐츠가 없습니다.</div>");
					$('#pagination').html("<li class='page-item active'><a onclick='paging(1);' class='page-link'>1</a></li>");
				}
			},
			error: function(xhr, status, error) {
				var err = eval("(" + xhr.responseText + ")");
				alert(err.Message);
			}
		});
	}
	
	function searchByKeyword() {
		var keyword = $("#keyword").val();
		$("input[name=keyword]")[0].value = keyword;
		$("input[name=currentIndex]")[0].value = 1;
		getContents();	
	}
	
	$(function() {
		$("#search").click(searchByKeyword);
		searchByKeyword();
	});
/*]]>*/
</script>
</html>