<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dev.metube.mapper.UserMapper">
	<resultMap id="UserResultMap" type="com.dev.metube.model.User">
		<result column="thumbnail_yn" jdbcType="SMALLINT" property="thumbnail_yn" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler"/>
		<result column="type" jdbcType="SMALLINT" property="type" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler"/>
		<result column="status" jdbcType="SMALLINT" property="status" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler"/>
	</resultMap>
	
	<insert id="insert" parameterType="com.dev.metube.model.User">
		INSERT INTO tb_user (
			username,
			password,
			display_name,
			sex,
			phone,
			address,
			register_date
		)
		VALUES (
			#{username},
			#{password},
			#{display_name},
			#{sex},
			#{phone},
			#{address},
			now()
		)
	</insert>
	
	<select id="selectLoginUserByUsername" parameterType="string" resultMap="UserResultMap">
		SELECT
			id, username, password, display_name, type
		FROM
			tb_user
		WHERE
			username LIKE #{username}
	</select>
	
	<select id="selectWithoutPasswordByUsername" parameterType="string" resultMap="UserResultMap">
		SELECT
			id, username, display_name, sex, phone, address, register_date, thumbnail_yn, thumbnail_path, type, status
		FROM
			tb_user
		WHERE
			username LIKE #{username}
	</select>
	
	<select id="selectUserExist" parameterType="string" resultType="boolean">
		SELECT EXISTS (
			SELECT
				id
			FROM
				tb_user
			WHERE
				username LIKE #{username}
		)
	</select>
	
	<select id="selectProfilePath" parameterType="Integer" resultType="String">
		SELECT thumbnail_path
		FROM tb_user
		WHERE id = #{id}
	</select>
	
	<update id="profilePathUpdate" parameterType="com.dev.metube.model.User">
		UPDATE tb_user
		SET thumbnail_yn = 1,
			thumbnail_path = #{thumbnail_path}
		WHERE
			id = #{id}
	</update>

</mapper>